<div class="background-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-10 col-sm-offset-1">
        <div class="panel panel-default setup-panel">
          <div class="panel-body">
            <h1><i class="fa fa-pencil"></i> Creating Issues</h1>
            <hr>
            <div>
              To create an issue please click on the link below. If it's an Enhancement (feature request),
              the contributors will label it as such and it will show up on the Enhance app shortly thereafter.<br /><br />
            </div>
            <br />
            <create-issue></create-issue>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>