<!doctype html>

<html>
  
  <head>
    <title>Enhance</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../globals/globals.css">
  </head>
  
  <body class="">
    <div class="navbar navbar-default navbar-static-top noselect">
      <div class="container-fluid">
        <div class="navbar-header"> 
        <a class="navbar-brand text-info bold" href="#"><i class="fa fa-github"></i> <em>ENHANCE</em></a>
        </div>
        
          <ul class="nav navbar-nav pull-right">
            <li class="active">
              <a href="#" class="bold"><i class="fa fa-sort"></i> <span class="hidden-xs">Vote</span></a>
            </li>
            <li>
              <a href="#" class="bold"><i class="fa fa-plus"></i> <span class="hidden-xs">Create</span></a>
            </li>
            <li>
              <a href="#" class="bold">
                <i class="fa fa-cog"></i> 
                <span class="hidden-xs">Setup</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="header-profile-image">
                  <img src="https://avatars2.githubusercontent.com/u/4029749?v=3&s=50">
                </span>
                <span class="header-user-name bold">
                  captainhurst
                </span>
              </a>
            </li>
          </ul>
      </div>
      <!-- /container fluid -->
    </div>
    <!-- / navbar -->
    <div class="add-issue-container noselect">
      <div class="container">
        <h4 class="text-uppercase text-glr italic bold">Add Issue</h4>
        <div class="comment-media media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="https://avatars3.githubusercontent.com/u/885279?v=3&amp;s=64" alt="...">
              </a>
            </div>
            <div class="media-body">
              <p class="media-heading text-glr">@username</p>
              <form>
                <div class="form-group">
                  <label for="issueTitle">Title:</label>
                  <input type="text" class="form-control" id="issueTitle" placeholder=" Title">
                </div>
                <div class="form-group">
                  <label for="issueDescription">Comment: </label>
                  <textarea class="form-control modal-ta" id="issueDescription" placeholder="Leave a comment"></textarea>
                </div>
                <button class="btn btn-danger bold"><i class="fa fa-close"></i> Cancel</button>
                <button type="submit" class="btn btn-success pull-right bold"><i class="fa fa-check"></i> Create Issue</button>
              </form>
            </div>
          </div>
      </div>
      <!-- / container -->
    </div>
    <!-- add issue -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">


        </div>
        <!-- / center column   -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
    <div class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"><div class="modal-backdrop fade in" style="height: 984px;"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body float-fix">
          <h4 class="bold italic text-uppercase modal-title">Create Issue</h4>
          <div class="">
            <form>
              <div class="form-group">
                <label for="issueTitle">Title:</label>
                <input type="text" class="form-control" id="issueTitle" placeholder=" Title">
              </div>
              <div class="form-group">
                <label for="issueDescription">Comment: </label>
                <textarea class="form-control modal-ta" id="issueDescription" placeholder="Leave a comment"></textarea>
              </div>
              <button class="btn btn-danger bold"><i class="fa fa-close"></i> Cancel</button>
              <button type="submit" class="btn btn-success pull-right bold"><i class="fa fa-check"></i> Create Issue</button>
            </form>
          </div>
        </div>
        <!-- modal body -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
    <footer>
      <div class="container-fluid">
        <ul class="footer-nav pull-right">
          <li><span class="linkless">Built by these geniuses:</span></li>
          <li><a class="footer-link" href="#">Genius 1</a></li>
          <li><a class="footer-link" href="#">Genius 2</a></li>
          <li><a class="footer-link" href="#">Genius 3</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>

