<!doctype html>

<html>
  
  <head>
    <title>Enhance</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../globals/globals.css">
  </head>
  
  <body class="">
    <div class="navbar navbar-default navbar-static-top noselect">
      <div class="container-fluid">
        <!--<div class="navbar-header"> -->
        <a class="navbar-brand text-info bold" href="#"><i class="fa fa-github"></i> <em>ENHANCE</em></a>
        <!-- </div> -->
        
          <ul class="nav navbar-nav pull-right">
            <li class="active">
              <a href="#" class="bold"><i class="fa fa-sort"></i> <span class="hidden-xs">Vote</span></a>
            </li>
            <li>
              <a href="#" class="bold"><i class="fa fa-plus"></i> <span class="hidden-xs">Create</span></a>
            </li>
            <li>
              <a href="#" class="bold">
                <i class="fa fa-cog"></i> 
                <span class="hidden-xs">Setup</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="header-profile-image">
                  <img src="https://avatars2.githubusercontent.com/u/4029749?v=3&s=50">
                </span>
                <span class="header-user-name bold">
                  captainhurst
                </span>
              </a>
            </li>
          </ul>
      </div>
      <!-- /container fluid -->
    </div>
    <!-- / navbar -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-lg-8">
            <div class="issue-header-wrapper">
              <div class="vote-box">
                <a href="#" class="big-vote text-g"><i class="fa fa-caret-up"></i></a>
                <a href="#" class="big-vote down text-g"><i class="fa fa-caret-down"></i></a>
              </div>
              <!-- vote box -->
              <div class="vote-box totals">
                <div class="net-vote bold text-success">100</div>
                <div class="vote-summary-wrapper">
                  <span class="text-success float-left"><small><i class="fa fa-plus"></i></small><span class="bold">100</span></span>
                  <span class="text-danger float-right"><small><i class="fa fa-minus"></i></small><span class="bold">100</span></span>
                </div>
              </div>
              <!-- vote box -->
              <div class="issue-detail-box">
                <h1 class="detailed-issue-title bold italic"><a href="#" class="text-success"><i class="fa fa-github"></i></a> Detailed Issue Title</h1>
                <h3 class="italic text-gl">#1234</h3>
              </div>
            </div>
          <div class="description-wrapper">
            <p class="lead text-gl">Shank leberkas landjaeger filet mignon beef ribs venison swine et dolor. Voluptate bacon pork loin tail, id beef ribs frankfurter quis commodo. Meatball duis aliqua magna veniam. Deserunt fatback dolore irure ribeye dolore flank venison ea ut strip steak swine. Nulla esse dolore, id pork chop in turkey voluptate ut officia ground round anim.</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-xs-12 col-sm-3 col-lg-4">
              <h5 class="bold italic">[#] Participant(s)</h5>
              <div class="facepile-container">
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/1716457?v=3&amp;s=80">
                </a>
                <a href="">
                  <img class="profile-image" src="https://avatars2.githubusercontent.com/u/1430522?v=3&amp;s=80" >
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/6923044?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/7791737?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/3141362?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/9211094?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/1010?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/471821?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/322834?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/3720207?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/6585609?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/203453?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/939704?v=3&amp;s=80">
                </a>
                <a href="">
                  <img alt="elvarb" class="profile-image" src="https://avatars3.githubusercontent.com/u/885279?v=3&amp;s=80">
                </a>
              </div>
              <!-- facepile container -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container fluid -->
  </body>
</html>