<!doctype html>

<html>
  
  <head>
    <title>Enhance Style Guide</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../globals/globals.css">
  </head>
  
  <body class="background-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default login-panel">
              <div class="panel-body">
                  <p class="centered">
                    <i class="fa fa-github huge-icon"></i>
                  </p>
                  <p class="lead centered">Vote on enhancement proposals for your favorite open source projects.</p>
                  <a href="#" class="btn btn-lg btn-success full-width"><i class="fa fa-github"></i> Login</a>
              </div>
              <!-- Panel Body -->
            </div>
            <!-- Panel -->
          </div>
          <!-- Col -->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
  </body>

</html>