<!doctype html>

<html>
  
  <head>
    <title>Enhance Style Guide</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../globals/globals.css">
  </head>
  
  <body class="background-primary">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-10 col-sm-offset-1">
            <div class="panel panel-default setup-panel">
              <div class="panel-body">
                <h1><i class="fa fa-cog fa-spin"></i> Setup Guide</h1>
                <hr>
                <h2 class="italic">Do Something</h2>
                <dl>
                  <dt>Here is step number 1</dt>
                  <dd>Meatball nulla laboris leberkas, bresaola ut salami kevin kielbasa hamburger minim capicola. Cupidatat exercitation chicken incididunt.</dd>
                  <dt>Another Step is likely necessary</dt>
                  <dd>Short loin est beef sed aliquip commodo, voluptate sunt ea dolor non. Labore ullamco alcatra, tail minim frankfurter excepteur kevin cupim aliquip consequat. Strip steak picanha shank salami short loins anim ribeye eiusmod consequat pork.</dd>
                </dl>
                <hr>
                <h2 class="italic">Do Something Else</h2>
                <dl>
                  <dt>Here is step number 1</dt>
                  <dd>Meatball nulla laboris leberkas, bresaola ut salami kevin kielbasa hamburger minim capicola. Cupidatat exercitation chicken incididunt.</dd>
                </dl>
                <a class="btn btn-lg btn-default full-width context-margin"><i class="fa fa-beer"></i> Get Started!</a>
              </div>
              <!-- Panel Body -->
            </div>
            <!-- Panel -->
          </div>
          <!-- Col -->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
  </body>
</html>