<!doctype html>

<html>
  
  <head>
    <title>Enhance</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../globals/globals.css">
  </head>
  
  <body class="">
    <div class="navbar navbar-default navbar-static-top noselect">
      <div class="container-fluid">
        <!--<div class="navbar-header"> -->
        <a class="navbar-brand text-info bold" href="#"><i class="fa fa-github"></i> <em>ENHANCE</em></a>
        <!-- </div> -->
        
          <ul class="nav navbar-nav pull-right">
            <li class="active">
              <a href="#" class="bold"><i class="fa fa-sort"></i> <span class="hidden-xs">Vote</span></a>
            </li>
            <li>
              <a href="#" class="bold"><i class="fa fa-plus"></i> <span class="hidden-xs">Create</span></a>
            </li>
            <li>
              <a href="#" class="bold">
                <i class="fa fa-cog"></i> 
                <span class="hidden-xs">Setup</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="header-profile-image">
                  <img src="https://avatars2.githubusercontent.com/u/4029749?v=3&s=50">
                </span>
                <span class="header-user-name bold">
                  captainhurst
                </span>
              </a>
            </li>
          </ul>
      </div>
      <!-- /container fluid -->
    </div>
    <!-- / navbar -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="panel panel-default">
            <ul class="list-group">
              <li class="list-group-item issue-list-item">
                <div class="col-xs-2 centered shrink-gutter-left shrink-gutter-right">
                  <div>
                    <a href="#" class="voting-links centered noselect"><i class="fa fa-caret-up"></i></a>
                  </div>
                  <div>
                    <a href="#" class="voting-links down centered noselect"><i class="fa fa-caret-down"></i></a>
                  </div>
                  <p class="big-count noselect">100</p>
                </div>
                <!-- Voting Component -->
                <div class="col-xs-6 table-centered">
                  <h3 class="issue-name"><a href="#" class="bold noselect">Issue Name Enhancement</a></h3>
                  <p class="enhancement-description noselect">Turkey sirloin ground round hamburger. Aliquip in enim tail, dolore salami...</p>
                </div>
                <div class="col-xs-3 no-gutter-left shrink-gutter-right">
                  <ul class="list-unstyled issue-info-list noselect">
                    <li><span class="bold">#120</span> opened <span class="bold">[time]</span> ago</li>
                    <li>by <a href="#lin-to-user" class="bold">captainhurst</a></li>
                    <li class="list-space"><span class="bold">15</span> comments</li>
                  </ul>
                </div>
                <div class="col-xs-1 no-gutter">
                  <div class="issue-profile-image">
                    <img src="https://avatars2.githubusercontent.com/u/4029749?v=3&s=50">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container fluid -->
 
  </body>

</html>